{% extends 'layout.html' %}

{% block content%}
<section class="container-xl px-3 ">
    <nav class="navbar">
        <h2 class=""><strong>{% block title %} Lista de tareas {% endblock %}</strong></h1>
        <a href="{{url_for('todo.create')}}" class="btn btn-success">Nuevo</a>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th class="col">Tareas</th>
                <th class="col">Estado</th>
                <th class="col" colspan="2">Opciones</th>
            </tr>

            <tbody>
                {% for todo in todos | reverse %}
                {% if g.user.id == todo.created_by %}
                <tr>
                    <td>
                        <h5>
                            {{todo.title}}
                        </h5>
                        <p>
                            {{todo.descrip}}
                        </p>
                    </td>
                    <td>
                        {% if todo.state%}
                            <p class="text-success">Completado</p>
                        {% else %}
                            <p class="text-warning">Incompleto</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{url_for('todo.update', id = todo.id)}}" class="btn btn-secondary btn-sm mb-2">Editar</a>
                        <a href="{{url_for('todo.delete', id = todo.id)}}" class="btn btn-danger btn-sm mb-2">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </thead>
    </table>
</section>



{% endblock %}