{% extends 'layout.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
    
    <div class="container-sm text-center mt-5">
        <h1 class="display-3">Bienvenido mi aplicacion de lista de tareas</h1>
        <p class="lead">En esta aplicacion podes llevar todas las listas de tareas que tengas por realizar</p>
        <hr class="my-4">
        <p>¿Ya tenes una cuenta?</p>
        <div class="d-flex justify-content-center">
            
            <a href="{{url_for('auth.login')}}" class="btn btn-primary mx-2">Iniciar Sesion</a>
            <a href="{{url_for('auth.register')}}" class="btn btn-secondary">Registrarse</a>

        </div>
    </div>
{% endblock %}